In [5]:
import pandas as pd
import numpy as np
from matplotlib.pyplot import matplotlib as plt
from sklearn import preprocessing 
from sklearn import linear_model
from sklearn import cross_validation
df=pd.read_csv(r'E:\ant-1.3.csv')
target=df.bug # Output
target=target>0
t=[]
for i in range(0,len(target)):
    if target[i]==True:
        t.append(1)
    else:
        t.append(0)
t=np.array(t)
df=pd.DataFrame([df.wmc,df.dit,df.noc,df.cbo,df.rfc,df.lcom]).T
df.describe()

              wmc         dit         noc         cbo         rfc         lcom
count  125.000000  125.000000  125.000000  125.000000  125.000000   125.000000
mean    10.592000    2.280000    0.576000   10.432000   34.368000    69.320000
std     10.364406    1.280121    3.250965   14.891184   29.020998   259.281532
min      0.000000    1.000000    0.000000    0.000000    0.000000     0.000000
25%      4.000000    1.000000    0.000000    4.000000   15.000000     1.000000
50%      8.000000    2.000000    0.000000    7.000000   28.000000     6.000000
75%     14.000000    3.000000    0.000000   10.000000   46.000000    44.000000
max     71.000000    6.000000   34.000000  103.000000  186.000000  2247.000000

In [74]:
def normalize(X):
    return (X-np.min(X))/(np.max(X)-np.min(X))
normalized_df=df.apply(normalize)
normalized_df.describe()

              wmc         dit         noc         cbo         rfc        lcom
count  125.000000  125.000000  125.000000  125.000000  125.000000  125.000000
mean     0.149183    0.256000    0.016941    0.101282    0.184774    0.030850
std      0.145978    0.256024    0.095617    0.144575    0.156027    0.115390
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.056338    0.000000    0.000000    0.038835    0.080645    0.000445
50%      0.112676    0.200000    0.000000    0.067961    0.150538    0.002670
75%      0.197183    0.400000    0.000000    0.097087    0.247312    0.019582
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

In [75]:
set(t)

{0, 1}

In [76]:
#multiple Linear regression using linear model
X_train,X_test,Y_train,Y_test=cross_validation.train_test_split(df,t,test_size=0.4,random_state=1)

lin_model=linear_model.LinearRegression()
lin_model.fit(X_train,Y_train)
lin_model.coef_
P=lin_model.predict(X_test)
P

array([ 0.11891716,  0.12650339,  0.10391517, -0.10567682,  0.16221955,
       -0.0030472 , -0.03662918,  0.43149487,  0.04520263,  0.03976828,
        0.1970308 , -0.04584454,  0.38717508,  0.26417367,  0.13127836,
       -0.07643997,  0.13731175,  0.27860365,  0.54633518, -0.05608154,
        0.61277685,  0.02227764, -0.04099546,  0.71039835,  0.85752648,
        0.38003769,  0.47609599,  0.03763054,  0.06137248,  0.1018327 ,
       -0.16415083,  0.47076882,  0.57368109, -0.11786284,  0.36787044,
        0.10417327,  0.26863485,  0.35061832,  0.60425849, -0.06664448,
        0.11737972, -0.13908622, -0.00953013, -0.08425887,  0.0986774 ,
       -0.06757695,  0.33264314,  0.08475978,  0.74893731,  0.11580499])

In [77]:
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report,confusion_matrix
mlp=MLPClassifier(hidden_layer_sizes=(20,20))
mlp.fit(X_train,Y_train)
P=mlp.predict(X_test)
P
print(confusion_matrix(P,Y_test))

[[38  9]
 [ 3  0]]