In [4]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'a':[1,1,2,3],'b':[3,4,5,6]})
df
df['a']

0    1
1    1
2    2
3    3
Name: a, dtype: int64

In [5]:
df['b']

0    3
1    4
2    5
3    6
Name: b, dtype: int64

In [15]:
df=pd.DataFrame({'a':[1,2,1,2,1],'b':['1/1/2017','2/1/2017','3/1/2017','4/1/2017','5/1/2017'], 'c':['buy','buy','sell','buy',
                 'buy']})
df

   a         b     c
0  1  1/1/2017   buy
1  2  2/1/2017   buy
2  1  3/1/2017  sell
3  2  4/1/2017   buy
4  1  5/1/2017   buy

In [16]:
df.groupby('c').get_group('sell')

   a         b     c
2  1  3/1/2017  sell

In [26]:
d=df.groupby(['a','b','c'])['c'].count()
d

a  b         c
1  1/1/2017  buy     1
   3/1/2017  sell    1
   5/1/2017  buy     1
2  2/1/2017  buy     1
   4/1/2017  buy     1
Name: c, dtype: int64

In [30]:
grouped=df.groupby(['a','c'], as_index=False).count().reset_index()
grouped

   index  a     c  b
0      0  1   buy  2
1      1  1  sell  1
2      2  2   buy  2